<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Open Graph tags for Facebook, LinkedIn, etc. -->
    <meta property="og:title" content="{{heading}}">
    <meta property="og:image" content={{image}}>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://my-frontend-website.com/path/to/page" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{heading}}">
    <meta name="twitter:image" content={{image}}>
</head>
<body>
    working
</body>
</html>